<br>
<div class="text-md-center">
  <h1>DATABASE DOWNLOAD</h1>
</div>
<br>
<br>
<div class="text-md-center">
  <%= link_to "Download CMS (api-2018) DB", download_cms_path, class: "btn btn-primary" %>
</div>
<br>
<div class="text-md-center">
  <%= link_to "Download Central-Authentication DB", download_auth_path, class: "btn btn-success" %>
</div>